.address {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding-bottom: 110rpx;
  box-sizing: border-box; // overflow-x: hidden;
  // overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
  .addcont {
    height: 100%; // padding-bottom: 110rpx;
    // box-sizing: border-box;
    // overflow-x: hidden;
    // overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    .item {
      padding: 0 30rpx;
      .list {
        position: relative;
        padding: 30rpx 0;
        border-bottom: 1rpx solid rgba(220,220,220,1);
        .delete {
          position: absolute;
          width: 100rpx;
          top: 0;
          right: -120rpx;
          text-align: center;
          height: 100%;
          line-height: 100%;
          background: #b4282d;
          color: #fff;
          transition: all 200ms ease;
          display: flex;
          align-items: center;
          justify-content: center;
          div {
            color: #fff;
          }
        }
      }
    }
  }
  .group {
    width: 100%;
    position: relative;
    transition: all 300ms ease;
    .top {
      display: flex;
      span {
        font-size: 32rpx;
      }
      span:nth-child(1) {
        margin-right: 30rpx;
      }
      span:nth-child(2) {
        margin-right: 20rpx;
      }
      .moren {
        font-size:24rpx;
        color:rgba(230,57,54,1);
        border: 1rpx solid rgba(230, 57, 54, 1);
        opacity: 0.78;
        border-radius: 6rpx;
        padding: 2rpx 15rpx;
      }
    }
    .bottom{
       margin-top: 21rpx;
       
       width: 570rpx;
       p{
        color:rgba(102,102,102,1);color:rgba(102,102,102,1);
       }
    }
    .edit{
      position: absolute;
      right: 27rpx;
      top: 30rpx;
      p{
        font-size: 28rpx;
        padding-left: 20rpx;
        border-left: 1rpx solid rgba(153,153,153,1);
        color: rgba(153,153,153,1);
      }
    }
  }

  .center {
    width: 248rpx;
    height: 248rpx;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -80%, 0);
    background: url("http://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/noAddress-26d570cefa.png")
      no-repeat;
    background-size: 100% 100%;
    p {
      position: absolute;
      bottom: -20rpx;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
  .newAddress{
    position: fixed;
    bottom: 30rpx;
    width: 100%;
    div{
      width: 690rpx;
      height: 90rpx;
      line-height: 90rpx;
      margin: 0 auto;
      background:rgba(230,57,54,1);
      border-radius:45rpx;
      color: #fff;
      font-weight:500;
      font-size:36rpx;
      text-align: center;
    }
  }
}
