.cart_main {
  .getCoupon {
    flex: 1;
    text-align: right;
    margin-right: 20rpx;
    .coupon_btn {
      width: 70rpx;
      padding: 5rpx 20rpx;
      color: #fff;
      background: #ff6400;
      border-radius: 20rpx;
      font-size: 26rpx;
    }
  }
  // 优惠券列表弹出层
  .coupon_popup {
    height: 70vh;
    width: 750rpx;
    // overflow-y: auto;
    top: 50%;
    .coupon_group {
      margin-bottom: 60rpx;
      .title {
        margin: 10rpx auto;
        text-align: center;
        font-size: 40rpx;
        padding: 20rpx 0;
      }
      .coupon_title {
        margin: 16rpx 20rpx;
        font-size: 28rpx;
        color: #999;
      }
      .coupon_box {
        position: relative;
        margin: 10rpx auto;
        width: 730rpx;
        height: 180rpx;
        .bg {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 0;
        }
        .content {
          position: absolute;
          z-index: 10;
          width: 100%;
          height: 100%;
          color: #fff;
          .left {
            float: left;
            width: 66%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
              color: #fff;
              margin: 5rpx 20rpx;
              min-height: 26rpx;
              font-size: 23rpx;
              .coupon_price {
                position: absolute;
                right: 30rpx;
                top: 50rpx;
                font-size: 60rpx;
              }
              .coupon_type {
                position: absolute;
                right: 50rpx;
                top: 10rpx;
                font-size: 30rpx;
              }
              .name {
                font-size: 33rpx;
              }
            }
          }
          .right {
            float: right;
            width: 34%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn {
              width: 150rpx;
              height: 50rpx;
              text-align: center;
              line-height: 50rpx;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .goods-image {
    width: 200rpx;
    height: 200rpx;
    border-radius: 20rpx;
  }
  .goods-title {
    margin-top: 20rpx;
    min-height: 50rpx;
    text-align: left;
  }
  .goods-price {
    font-size: $price-fontSize;
    color: $price-color;
    min-width: $price-width;
    text-align: left;
  }
  .goods-desc {
    min-height: 24rpx;
  }
  .van-card__bottom {
    text-align: left;
  }
  .goods-bottom {
    text-align: left;
    .sketch {
      color: $bottom-color;
      font-size: $bottom-fontSize;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
      width: 340rpx;
    }
  }
  .icon {
    height: 45rpx;
    width: 55rpx;
    background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png)
      no-repeat center center;
    background-size: 34rpx 34rpx;
    margin: 0 20rpx;
  }
  .icon.active {
    background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png)
      no-repeat center center;
    background-size: 34rpx 34rpx;
  }
  overflow-x: hidden;
  .top {
    display: flex;
    justify-content: space-between;
    padding: 30rpx 20rpx;
    div {
      background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/servicePolicyRed-518d32d74b.png)
        0 center no-repeat;
      background-size: 10rpx;
      padding-left: 15rpx;
      display: flex;
      align-items: center;
      font-size: 25rpx;
      color: #666;
    }
  }
  .cartlist {
    background: #fff;
    margin-bottom: 110rpx;
    .item {
      padding: 20rpx 0;
      border-bottom: 1rpx solid #f4f4f4;
      height: 166rpx;
      position: relative;
      .con {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: all 300ms ease;
        .left {
          display: flex;
          align-items: center;
          width: 80%;
          .icon {
            height: 125rpx;
            width: 34rpx;
            background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png)
              no-repeat center center;
            background-size: 34rpx 34rpx;
            margin: 0 20rpx;
          }
          .icon.active {
            background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png)
              no-repeat center center;
            background-size: 34rpx 34rpx;
          }
          .img {
            height: 125rpx;
            width: 125rpx;
            display: block;
            background: #f4f4f4;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .info {
            width: 50%;
            padding: 20rpx;
            p {
              line-height: 40rpx;
            }
          }
        }
        .right {
          padding-right: 50rpx;
        }
      }
      .delete {
        position: absolute;
        width: 100rpx;
        top: 0;
        right: -100rpx;
        text-align: center;
        height: 100%;
        background: #b4282d;
        color: #fff;
        transition: all 200ms ease;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
          color: #fff;
        }
      }
    }
  }
  .fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100rpx;
    line-height: 100rpx;
    width: 100%;
    background: #fff;
    z-index: 99;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    .checkAll {
      width: 35px;
    }
    .left {
      display: flex;
      align-items: center;
      background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png)
        no-repeat;
      background-size: 34rpx 34rpx;
      background-position: 20rpx;
      padding-left: 70rpx;
    }

    .right {
      overflow: hidden;
      display: flex;
      div:nth-child(1) {
        color: #b4282d;
        padding-right: 40rpx;
      }
      div:nth-child(2) {
        width: 200rpx;
        height: 100rpx;
        text-align: center;
        line-height: 100rpx;
        font-size: 29rpx;
        background: $buy-btn;
        color: #fff;
      }
    }
  }
  .nogoods {
    margin-top: 200rpx;
    img {
      margin: 0 auto;
      display: block;
      width: 258rpx;
      height: 258rpx;
    }
  }
}
