.refund_list {
  .orderList {
    .orderList_item {
      padding: 30rpx;
      background: #fff;
      .order_code {
        font-size: 28rpx;
        padding: 1rpx;
        padding: 30rpx 0;
        border-bottom: 1rpx solid #dcdcdc;
      }
      .good-card {
        margin-top: 20rpx;
        display: flex;
        .thumb {
          img {
            width: 180rpx;
            height: 180rpx;
            border-radius: 6rpx;
          }
        }
        .desc {
          margin-left: 20rpx;
          position: relative;
          .good_title {
            margin-top: 5rpx;
            font-size: 28rpx;
          }
          .propery {
            span {
              font-size: 24rpx;
              color: #666;
              padding: 9rpx;
              background: #f8f8f8;
            }
          }
          .price {
            position: absolute;
            bottom: 0;
            font-size: 32rpx;
            span {
              margin-left: 29rpx;
              color: #999;
            }
          }
        }
      }
      .status {
        display: flex;
        justify-content: space-between;
        .desc {
          display: flex;
          align-items: center;
          img {
            width: 24rpx;
            height: 24rpx;
            vertical-align: middle;
            margin-right: 20rpx;
          }
          font-size: 24rpx;
          color: #666;
        }
        .btn {
          width: 160rpx;
          font-size: 28rpx;
          color: #e32e38;
          text-align: center;
          height: 54rpx;
          line-height: 54rpx;
          border-radius: 27rpx;
          border: 1rpx solid rgba(227, 46, 56, 0.6);
        }
      }
    }
  }
}
