.refundChoose {
  .goods-group {
    background: #fff;
    .good-item {
      display: flex;
      .checked {
        display: flex;
        align-items: center;
        .icon {
          height: 45rpx;
          width: 55rpx;
          background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png)
            no-repeat center center;
          background-size: 40rpx 40rpx;
          margin: 0 20rpx;
        }
        .icon.active {
          background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png)
            no-repeat center center;
          background-size: 40rpx 40rpx;
        }
      }
      .good-card {
        width: 650rpx;
        display: flex;
        .thums {
          width: 180rpx;
          height: 180rpx;
          img {
            width: 180rpx;
            height: 180rpx;
            border-radius: 6rpx;
          }
        }
        .desc {
          width: 450rpx;
          margin-left: 20rpx;
          position: relative;
          .title {
            font-size: 28rpx;
          }
          .propery {
            span {
              font-size: 24rpx;
              padding: 8rpx;
              color: #666;
              background: #f8f8f8;
            }
          }
          .price {
            font-size: 32rpx;
          }
        }
      }
    }
  }

  overflow-x: hidden;
  .fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100rpx;
    line-height: 100rpx;
    width: 100%;
    background: #fff;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    .checked {
      display: flex;
      align-items: center;
      .icon {
        height: 45rpx;
        width: 55rpx;
        background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png)
          no-repeat center center;
        background-size: 40rpx 40rpx;
        margin: 0 20rpx;
      }
      .icon.active {
        background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png)
          no-repeat center center;
        background-size: 40rpx 40rpx;
      }
    }
    // .left {
    //   display: flex;
    //   align-items: center;
    //   background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png)
    //     no-repeat;
    //   background-size: 34rpx 34rpx;
    //   background-position: 20rpx;
    //   padding-left: 70rpx;
    // }

    .right {
      // display: flex;
      flex: 1;
      div:nth-child(1) {
        color: #E32E38;
        padding-right: 40rpx;
      }
      div:nth-child(2) {
        width: 260rpx;
        height: 100rpx;
        text-align: center;
        line-height: 100rpx;
        font-size: 29rpx;
        background: #E32E38;
        color: #fff;
        margin-left: auto;
      }
    }
  }
}
