.search {
  height: 100%;
  position: relative;
  .sublist {
    // width: 100%;
    // margin: 0 auto;
    padding: 0 24rpx;
    display: flex;
    flex-wrap: wrap;
    .good-card {
      width: 344rpx;
      // height:650rpx;
      margin-bottom: 14rpx;
      overflow: hidden;
      position: relative;
      background: #fff;
      border-radius: 10rpx;
      .thumb {
        width: 344rpx;
        height: 390rpx;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .desc {
        margin: 0 20rpx;
        // width: 100%;
        .title {
          font-size: 24rpx;
          // margin: 18rpx 0;
          margin-top: 18rpx;
          text-overflow: ellipsis;
          display: -webkit-box;
          height: 70rpx;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .vip {
          margin-top: 20rpx;
          font-size: 22rpx;
          display: flex;
          align-items: center;
          border: 1rpx solid rgb(51, 51, 60);
          border-radius: 9rpx;
          .span1{
            font-size: 22rpx;
            color:rgb(226, 61, 55);
          }
          .span2{
            font-size: 22rpx;
            color: rgb(51, 51, 60);
          }
          img {
            width: 100rpx;
            height: 40rpx;
          }
        }
        .price {
          img {
            width: 73rpx;
            height: 30rpx;
            margin-right: 8rpx;
          }
          font-size: 25rpx;
          display: flex;
          align-items: center;
          margin-top: 12rpx;
        }
        
        .origin-price {
          color: rgb(153, 153, 153);
          font-size: 24rpx;
          // margin: 8rpx 12rpx;
          margin-top: 10rpx;
          margin-bottom: 20rpx;
          span {
            text-decoration: line-through;
          }
        }
      }
    }
    .good-card:nth-child(odd){
      margin-right: 14rpx;
    }
    .hot {
      position: absolute;
      top: 0;
      right: 10rpx;
      color: $hot-color !important;
      font-weight: 600;
    }
    .sale {
      margin: 15rpx 0;
      display: flex;
      .sold {
        padding: 10rpx;
        color: #fff;
        background: $hot-color;
        border: 1rpx solid $hot-color;
        border-radius: 3rpx 0 0 3rpx;
      }
      .remain {
        padding: 10rpx;
        color: $hot-color;
        background: #fff;
        border: 1rpx solid $hot-color;
        border-radius: 0 3rpx 3rpx 0;
      }
    }
    .goods-image {
      width: $image-width;
      height: $image-height;
      border-radius: $border-radius;
    }
    .goods-price {
      font-size: $price-fontSize;
      color: $price-color;
      min-width: $price-width;
    }
    .goods-origin-price {
      font-size: $originPrice-fontSize;
      color: $originPrice-color;
    }
    .goods-title {
      font-size: $title-fontSize;
      color: $title-color;
      width: $title-width;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 15rpx;
      min-height: 40rpx;
    }
    .goods-desc {
      min-height: 24rpx;
    }
    .goods-bottom {
      margin: 5rpx 0;
      div {
        font-size: $bottom-fontSize;
        color: $bottom-color;
      }
      .sketch {
        font-size: $bottom-sketch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 340rpx;
      }
    }
  }
  .head {
    height: 91rpx;
    padding-top: 1rpx;
    display: flex;
    padding: 0 32rpx;
    align-items: center;
    position: fixed;
    z-index: 1000;
    
    top: 0;
    justify-content: space-between;
    background: #fff;
    border-bottom: 1rpx solid rgba(0, 0, 0, 0.15);
    div:nth-child(1) {
      height: 59rpx;
      display: flex;
      align-items: center;
      background: #f4f4f4;
      img {
        display: inline-block;
        width: 31rpx;
        height: 31rpx;
        padding: 0 20rpx;
      }
      input {
        display: inline-block;
        width: 480rpx;
        height: 59rpx;
        margin-left: 10rpx;
      }
      .del {
        width: 53rpx;
        height: 53rpx;
        padding: 0;
      }
    }
    div:nth-child(2) {
      flex: 1;
      text-align: center;
    }
  }
  .searchtips {
    position: absolute;
    width: 100%;
    top: 40rpx;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 32rpx;
    z-index: 9;
    background: #fff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    div {
      padding: 20rpx 0;
    }
    .nogoods {
      text-align: center;
      margin-top: 450rpx;
    }
  }
  .helpSearch {
    padding-top: 1rpx;
  }
  .goodsList {
    margin-top: 90rpx;
    padding-top: 1rpx;
    position: relative;
    .sortnav {
      position: fixed;
      top: 91;
      z-index: 1000;
      display: flex;
      width: 100%;
      height: 78rpx;
      line-height: 78rpx;
      background: #fff;
      border-bottom: 1rpx solid #d9d9d9;
      div {
        width: 250rpx;
        height: 100%;
        text-align: center;
      }
      .active {
        color: #b4282d;
      }
      .price {
        background: url(//yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/no-3127092a69.png)
          165rpx center no-repeat;
        background-size: 15rpx 21rpx;
      }
      .active.desc {
        background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/down-95e035f3e5.png)
          165rpx center no-repeat;
        background-size: 15rpx 21rpx;
      }
      .active.asc {
        background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/up-636b92c0a5.png)
          165rpx center no-repeat;
        background-size: 15rpx 21rpx;
      }
    }
    .goods-group{
      margin-top: 91rpx;
    }
    
    
  }
  .history {
    background: #fff;
    padding: 32rpx;
    .t {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30rpx;
      div:nth-child(2) {
        width: 55rpx;
        height: 55rpx;
        background: url("http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/del1-93f0a4add4.png")
          no-repeat;
        background-size: 100% 100%;
      }
    }
    .cont {
      display: flex;
      flex-wrap: wrap;
      div {
        padding: 10rpx 20px;
        margin: 0 30rpx 20rpx 0;
        background: #eee;
        border-radius: 15px;
      }
      .active {
        border: 1rpx solid #b4282d;
        color: #b4282d;
      }
    }
  }
  .hotsearch {
    margin-top: 20rpx;
  }
  //店铺列表样式
  .store-item {
    width: 96%;
    height: 350rpx;
    border-radius: 10rpx;
    background: #fff;
    margin: 8rpx auto;
    .top {
      display: flex;
      align-items: center;
      height: 80rpx;
      margin-bottom: 6rpx;
      .logo {
        margin-left: 5rpx;
        width: 79rpx;
        height: 79rpx;
        
        img {
          width: 100%;
          height: 100%;
          border-radius: 30rpx;
        }
      }
      .title {
        margin-left: 8rpx;
        text-align: left;
        width: 400rpx;
        font-size: 29rpx;
      }
      .btn {
        flex: 1;
        text-align:right;
        span{
          margin-right: 15rpx;
          padding: 4rpx 10rpx;
          border-radius: 8rpx;
          border: 1rpx solid $buy-btn;
          color:$buy-btn;
          font-size: 26rpx;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-around;
      .good-item {
        width: 220rpx;
        height: 220rpx;

        position: relative;
        img {
          width: 100%;
          height: 100%;
          border-radius: 10rpx;
        }
        span {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.5);
          color: #fff;
          border-radius: 0 0 10rpx 10rpx;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }
    }
  }
}
.goods-image {
  width: 200rpx;
  height: 200rpx;
  border-radius: 20rpx;
}
.goods-title {
  margin-top: 15rpx;
  min-height: 40rpx;
}
.goods-desc {
  min-height: 24rpx;
}
.goods-price {
  color: $price-color;
}
.goods-bottom {
  margin: 5rpx 0;
  div {
    font-size: 24rpx;
    color: #999;
  }
  .sketch {
    font-size: 20rpx;
  }
}
.van-card__thumb {
  width: 200rpx;
  height: 200rpx;
  border-radius: 20rpx;
}
