.search_main {
  width: 750rpx;
  height: 125rpx;
  background: url("http://webimg.gaoshanapp.com/bg.png") no-repeat;
  background-size: cover;
  padding-top: 1rpx;
  position: fixed;
  top: 0;
  z-index: 99;
  .search {
    position: relative;
    input {
      width: 585rpx;
      height: 60rpx;
      background: rgba(255, 255, 255, 1);
      border-radius: 30rpx;
      margin: 0 auto;
      margin-top: 20rpx;
      padding-left: 90rpx;
    }
    .icon {
      position: absolute;
      top: 17rpx;
      left: 90rpx;
      background: url("../../../static/images/index/search.png") center
        no-repeat;
      background-size: 100%;
      width: 28rpx;
      height: 28rpx;
      margin-right: 10rpx;
    }
    .cancel {
      position: absolute;
      top: 10rpx;
      z-index: 999;
      right: 70rpx;
    }
  }
  .tabs {
    height: 85rpx;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .tab_item {
      width: 60rpx;
      text-align: center;
      height: 40rpx;
      line-height: 40rpx;
      font-size: 26rpx;
      color: #fff;
    }
    .active {
      border-bottom: 1rpx solid #fff;
    }
  }
}

.main {
  height: calc(100vh-165rpx);
  overflow: hidden;
  position: relative;
  top: 165rpx;

  .head {
    height: 91rpx;
    padding-top: 1rpx;
    display: flex;
    padding: 0 32rpx;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    justify-content: space-between;
    background: #fff;
    border-bottom: 1rpx solid rgba(0, 0, 0, 0.15);
    div:nth-child(1) {
      height: 59rpx;
      display: flex;
      align-items: center;
      background: #f4f4f4;
      img {
        display: inline-block;
        width: 31rpx;
        height: 31rpx;
        padding: 0 20rpx;
      }
      input {
        display: inline-block;
        width: 480rpx;
        height: 59rpx;
        margin-left: 10rpx;
      }
      .del {
        width: 53rpx;
        height: 53rpx;
        padding: 0;
      }
    }
    div:nth-child(2) {
      flex: 1;
      text-align: center;
    }
  }
  .searchtips {
    position: absolute;
    width: 100%;
    top: 40rpx;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 32rpx;
    z-index: 9;
    background: #fff;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    div {
      padding: 20rpx 0;
    }
    .nogoods {
      text-align: center;
      margin-top: 450rpx;
    }
  }
  .helpSearch {
    padding-top: 1rpx;
  }
  //商品列表
  .goodsList {
    padding-top: 1rpx;
    position: relative;
    // background: #fff;
    .swiper-group {
      width: 750rpx;
      display: flex;
      justify-content: center;
      // background: red;
      background-repeat: no-repeat;
      // background-position-y: -100rpx;
      background-size: contain;
      // padding-top: 153rpx;

      // height: 280rpx;
      .swiper {
        width: 710rpx;
        height: 280rpx;
        border-radius: 10rpx;
        .swiper-container {
          width: 100%;
          height: 100%;
          .swiper-item {
            width: 100%;
            height: 100%;
            .slide-image {
              width: 100%;
              height: 100%;
              border-radius: 20rpx;
            }
          }
        }
      }
    }
    .storeInfo {
      width: 95%;
      // position: fixed;
      background: #fff;
      // top: 138rpx;
      // z-index: 99;
      display: flex;
      align-items: center;
      height: 140rpx;
      margin: 20rpx auto;
      margin-top:0;
      border-radius: 20rpx;

      img {
        margin-left: 30rpx;
        width: 70rpx;
        height: 70rpx;
      }
      p {
        margin-left: 25rpx;
        font-size: 30rpx;
      }
    }

    .goods-group {
      margin-top: 33rpx;
      margin-bottom: 100rpx;
      .sublist {
        // width: 100%;
        // margin: 0 auto;
        padding: 0 24rpx;
        display: flex;
        flex-wrap: wrap;
        .good-card {
          width: 345rpx;
          margin-bottom: 14rpx;
          overflow: hidden;
          position: relative;
          background: #fff;
          border-radius: 10rpx;
          .thumb {
            width: 345rpx;
            height: 345rpx;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .desc {
            margin: 0;
            margin-left: 20rpx;
            .title {
              font-size: 24rpx;
              margin-top: 18rpx;
              text-overflow: ellipsis;
              display: -webkit-box;
              overflow: hidden;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }
            .sketch {
              margin: 3rpx 0;
              span {
                font-size: 18rpx;
                color: rgba(255, 181, 51, 1);
                padding: 3rpx 8rpx;
                margin-right: 5rpx;
                border: 1rpx solid rgba(255, 181, 51, 1);
                border-radius: 6rpx;
              }
            }
            .pd {
              height: 16rpx;
              width: 100%;
            }
            .vip {
              margin-top: 15rpx;
              font-size: 22rpx;
              display: flex;
              align-items: center;
              // border: 1rpx solid rgb(51, 51, 60);
              border-radius: 9rpx;

              .vip_img {
                width: 50rpx;
                height: 32rpx;
              }
              span {
                display: flex;
                align-items: center;
                margin-left: -10rpx;
                padding: 0 20rpx;
                background: rgba(219, 48, 48, 1);
                border-radius: 16rpx;
                color: #fff;
                .money {
                  width: 22rpx;
                  height: 22rpx;
                }
              }
            }
            .price {
              margin-top: 12rpx;
              display: flex;
              align-items: center;
              p:nth-child(1) {
                font-size: 36rpx;
                color: rgba(219, 48, 48, 1);
              }

              p:nth-child(2) {
                color: #888;
                font-size: 26rpx;
                text-decoration: line-through;
                margin-left: 29rpx;
                margin-top: 5rpx;
              }
            }
            .origin-price {
              color: rgb(153, 153, 153);
              font-size: 26rpx;
              // margin: 8rpx 12rpx;
              margin-top: 10rpx;
              margin-bottom: 20rpx;
            }
            // .price_2 {
            //   margin-top: 7rpx;
            //   display: flex;
            //   align-items: center;
            //   .span1 {
            //     font-size: 36rpx;
            //     color: rgba(219, 48, 48, 1);
            //   }

            //   .span2 {
            //     margin-left: 30rpx;
            //     font-size: 26rpx;
            //     color: rgba(136, 136, 136, 1);
            //   }
            //   .span3 {
            //     margin-left: 30rpx;
            //     font-size: 26rpx;
            //     color: rgba(136, 136, 136, 1);
            //     text-decoration: line-through;
            //   }
            // }
          }
        }
        .good-card:nth-child(odd) {
          margin-right: 14rpx;
        }
        .hot {
          position: absolute;
          top: 0;
          right: 10rpx;
          color: $hot-color !important;
          font-weight: 600;
        }
        .sale {
          margin: 15rpx 0;
          display: flex;
          .sold {
            padding: 10rpx;
            color: #fff;
            background: $hot-color;
            border: 1rpx solid $hot-color;
            border-radius: 3rpx 0 0 3rpx;
          }
          .remain {
            padding: 10rpx;
            color: $hot-color;
            background: #fff;
            border: 1rpx solid $hot-color;
            border-radius: 0 3rpx 3rpx 0;
          }
        }
        .goods-image {
          width: $image-width;
          height: $image-height;
          border-radius: $border-radius;
        }
        .goods-price {
          font-size: $price-fontSize;
          color: $price-color;
          min-width: $price-width;
        }
        .goods-origin-price {
          font-size: $originPrice-fontSize;
          color: $originPrice-color;
        }
        .goods-title {
          font-size: $title-fontSize;
          color: $title-color;
          width: $title-width;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-top: 15rpx;
          min-height: 40rpx;
        }
        .goods-desc {
          min-height: 24rpx;
        }
        .goods-bottom {
          margin: 5rpx 0;
          div {
            font-size: $bottom-fontSize;
            color: $bottom-color;
          }
          .sketch {
            font-size: $bottom-sketch;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 340rpx;
          }
        }
      }
    }
  }
  //店铺列表
  .storeList {
    padding: 1rpx;
    //店铺列表样式
    .store-item {
      width: 710rpx;
      height: 346rpx;
      border-radius: 6rpx;
      background: #fff;
      margin: 0 auto;
      margin-top: 16rpx;
      .top {
        display: flex;
        align-items: center;
        height: 80rpx;
        margin-bottom: 6rpx;
        .logo {
          margin-top: 20rpx;
          margin-left: 24rpx;
          width: 76rpx;
          height: 76rpx;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
        .title {
          margin-left: 20rpx;
          text-align: left;
          // width: 400rpx;
          font-size: 28rpx;
        }
        .btn {
          flex: 1;
          text-align: right;
          display: flex;
          justify-content: flex-end;
          span {
            // width: 60rpx;
            margin-right: 20rpx;
            margin-top: 30rpx;
            padding: 9rpx 40rpx;
            border-radius: 24rpx;
            border: 1rpx solid #d60000;
            color: #d60000;
            font-size: 26rpx;
            display: block;
            text-align: center;
          }
        }
      }
      .bottom {
        display: flex;
        justify-content: space-around;
        .good-item {
          width: 210rpx;
          height: 210rpx;

          position: relative;
          img {
            width: 100%;
            height: 100%;
            border-radius: 6rpx;
          }
          span {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            border-radius: 0 0 10rpx 10rpx;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
      }
    }
    .nomoreStore {
      padding: 20rpx 0;
      width: 100%;
      p {
        color: #888;
        text-align: center;
      }
    }
  }
  .noGood {
    padding: 1rpx;
    width: 750rpx;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 220rpx;
      height: 300rpx;
    }
  }
  .history {
    background: #fff;
    padding: 32rpx;
    .t {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30rpx;
      div:nth-child(1) {
        color: rgba(153, 153, 153, 1);
        font-size: 26rpx;
      }
      div:nth-child(2) {
        width: 55rpx;
        height: 55rpx;
        background: url("http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/del1-93f0a4add4.png")
          no-repeat;
        background-size: 100% 100%;
      }
    }
    .cont {
      display: flex;
      flex-wrap: wrap;
      div {
        padding: 8rpx;
        font-size: 26rpx;
        background: rgba(241, 241, 241, 1);
        color: rgba(153, 153, 153, 1);
        margin-right: 18rpx;
        margin-bottom: 18rpx;
        border-radius: 6rpx;
      }
    }
  }
  .hotsearch {
    margin-top: 20rpx;
  }
}
.goods-image {
  width: 200rpx;
  height: 200rpx;
  border-radius: 20rpx;
}
.goods-title {
  margin-top: 15rpx;
  min-height: 40rpx;
}
.goods-desc {
  min-height: 24rpx;
}
.goods-price {
  color: $price-color;
}
.goods-bottom {
  margin: 5rpx 0;
  div {
    font-size: 24rpx;
    color: #999;
  }
  .sketch {
    font-size: 20rpx;
  }
}
.van-card__thumb {
  width: 200rpx;
  height: 200rpx;
  border-radius: 20rpx;
}
