.logistics {
  .top {
    padding-top: 1rpx;
    width: 710rpx;
    height: 180rpx;
    margin: 20rpx auto 0 auto;
    background: #fff;
    border-radius: 10rpx;
    .title {
      font-size: 32rpx;
      margin-top: 49rpx;
      text-align: center;
    }
    .code {
      margin-top: 18rpx;
      font-size: 28rpx;
      color: #353535;
      text-align: center;
    }
  }
  .step {
    width: 710rpx;
    padding: 20rpx 0;
    margin: 20rpx auto 0 auto;
    background: #fff;
    border-radius: 10rpx;
    .item.active {
      display: flex;
      .left {
        width: 128rpx;
        .date {
          text-align: center;
          color: #353535;
          font-size: 28rpx;
        }
        .time {
          text-align: center;
          color: #353535;
          font-size: 28rpx;
        }
      }
      .right {
        position: relative;
        border-left: 2rpx solid #aaa;
        padding-left: 40rpx;
        img {
          width: 30rpx;
          height: 30rpx;
          position: absolute;
          left: -15rpx;
        }
        .title {
          font-size: 28rpx;
        }
        .detail {
          p {
            width: 487rpx;
            font-size: 24rpx;
            margin-bottom: 8rpx;
          }
        }
      }
    }
    .item {
      display: flex;
      // padding-bottom: 10rpx;
      .left {
        width: 128rpx;
        .date {
          text-align: center;
          color: #888;
          font-size: 24rpx;
        }
        .time {
          text-align: center;
          color: #888;
          font-size: 20rpx;
        }
      }
      .right {
        position: relative;
        border-left: 2rpx solid #aaa;
        padding-left: 40rpx;
        img {
          width: 30rpx;
          height: 30rpx;
          position: absolute;
          left: -15rpx;
        }
        .title {
          font-size: 24rpx;
        }
        .detail {
          p {
            width: 487rpx;
            font-size: 22rpx;
            color: #999;
            margin-bottom: 8rpx;
          }
        }
      }
    }
  }
}
